<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulario de cadastro de Noticia</title>
		</head>
	<body>

		<h1>Adicionar noticia</h1>
		<br>

		<% if(validacao){ %>
				<ul>
					<% for(var i = 0; i < validacao.length; i++ ){ %>
						<li>
							<%= validacao[i].msg %>
						</li>
					<% } %>
				</ul>
		<% } %>

		<form action="/noticias/salvar" method="POST">

			<label for="titulo">Titulo</label>
			<input type="text" name="titulo" id="titulo" placeholder="Titulo da noticia"/>
			<br>
			
			<label for="resumo">Resumo</label>
			<input type="text" name="resumo" id="resumo" placeholder="resumo da noticia"/>
			<br>

			<label for="autor">Autor</label>
			<input type="text" name="autor" id="autor" placeholder="autor da noticia"/>
			<br>

			<label for="data_noticia">Data noticia</label>
			<input type="date" name="data_noticia" id="data_noticia"/>
			<br>

			<label for="noticia">Noticia</label>
			<textarea  name="noticia" id="noticia" rows="5" cols="30"></textarea>
			<br>

			<input type="submit" value="Enviar"/>

		</form>

	</body>
</html>