<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Noticia</title>
		</head>
	<body>

		<h1>Noticias</h1>

		<table>
			<tr>
				<td>Id</td>
				<td>Titulo</td>
				<td>Conteudo</td>
			
			</tr>
	
			<tr>
				<td><%= noticias[0].id_noticia %></td>
				<td><%= noticias[0].titulo %></td>
				<td><%= noticias[0].noticia %></td>
			</tr>
	
		</table>
	</body>
</html>